/* Home.js */
.row {
  padding-top: 15px;
}
h1 {
  text-align: center;
}
.data {
  height: 440px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  /* padding: 30px; */
  padding-top: 0;
  overflow: auto;
  float: left;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

/* its not working Home.js */
/* .sticky {
  position: fixed; Fixed Sidebar (stay in place on scroll)
  z-index: 1; Stay on top
  top: 0; Stay at the top
} */
