/* Sidebar.js */
.cases {
  color: rgb(207, 12, 224);
}
.recovered {
  color: rgb(11, 185, 34);
}

.deaths {
  color: rgb(223, 15, 15);
}
.critical {
  color: rgb(235, 129, 8);
}
.active {
  color: rgb(17, 20, 230);
}
.new-cases {
  color: rgb(12, 184, 155);
}
.new-deaths {
  color: rgb(243, 12, 12);
  font-size: 20px;
}
