/* Table.js */
.header,
.header .sticky-table-cell {
  background-color: #bfbfbf;
  font-size: 15px;
}
/* .odd {
  background-color: #ffffff;
}
.even {
  background-color: #efefef;
} */

.odd .sticky-table-cell {
  background-color: #ffffff;
}
.even .sticky-table-cell {
  background-color: #efefef;
}
